<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static',
    filename='/Assets/favicon.svg')}}"
    />
    <!-- Link the CSS style sheet -->
    {% block link %} {% endblock link %}

    <!-- adding the google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Title -->
    <title>{% block title %}{% endblock title %}-Fake News Detection</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/"
          ><img
            src="{{url_for('static', filename='/Assets/hexa_trivers_logo.png')}}"
            alt="logo"
        /></a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/prediction">Prediction</a>
          </li>
          <li>
            <a href="/search_news">Search News</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    {% block main %} {% endblock main %}
  </body>
</html>
