{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block
link %}
<link rel="stylesheet" href="{{url_for('static', filename='/CSS/nav.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='/CSS/home.css')}}" />
{% endblock link %} {% block main %}
<main>
  <section class="first-section">
    <h1>Welcome to Fake News Detection</h1>
    <p>
      In today’s digital age, the spread of fake news has become a significant
      challenge, affecting public opinion and causing widespread misinformation.
      Our project,
      <strong> "Fake News Detection using Machine Learning"</strong>, aims to
      tackle this issue by leveraging advanced technology to identify and flag
      false information. Our website serves as a comprehensive resource for
      understanding and combating fake news. Using cutting-edge machine learning
      algorithms, we analyze news articles, social media posts, and other
      digital content to determine their authenticity. Our system is designed to
      learn and improve over time, making it increasingly effective at detecting
      misleading information. Explore our website to learn more about how
      machine learning can help combat the spread of fake news.
    </p>
    <a href="/prediction"><button>Let's go for prediction</button></a>
  </section>

  <section class="second-section">
    <img
      src="{{url_for('static', filename='/Assets/fake_news-removebg-preview.png')}}"
      alt="fake_img"
    />
  </section>
</main>

{% endblock main %}
