{% extends 'base.html' %} {% block title %}Search News{% endblock title %} {%
block link %}
<link rel="stylesheet" href="{{url_for('static', filename='/CSS/nav.css')}}" />
<link
  rel="stylesheet"
  href="{{url_for('static', filename='/CSS/search_news.css')}}"
/>
{% endblock link %} {% block main %}
<section class="search-section">
  <div class="search-bar">
    <input
      type="text"
      class="news-input"
      id="search-text"
      placeholder="Search News e.g.-Elon Musk"
    />
    <button id="search-button" class="search-button">Search</button>
  </div>
</section>

<main>
  <div class="cards-container container flex" id="cards-container"></div>
</main>

<template id="template-news-card">
  <div class="card">
    <div class="card-header">
      <img
        src="https://via.placeholder.com/400x200"
        alt="news-image"
        id="news-img"
      />
    </div>
    <div class="card-content">
      <h3 id="news-title">This is the Title</h3>
      <h6 class="news-source" id="news-source">End Gadget 26/08/2023</h6>
      <p class="news-desc" id="news-desc">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        saepe quis voluptatum quisquam vitae doloremque facilis molestias quae
        ratione cumque!
      </p>
    </div>
  </div>
</template>

<script src="{{url_for('static', filename='/JS/search_news.js')}}"></script>

{% endblock main %}
